# ------------------------
# Ngrok
# ------------------------

NEXT_PUBLIC_APP_URL="https://your-subdomain.ngrok-free.app"

# ------------------------
# Clerk
# ------------------------

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=

NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_WAITLIST_URL="/waitlist"
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL="/"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL="/"

# ------------------------
# Resend
# ------------------------

RESEND_API_KEY=
RESEND_SEGMENT_ID=
RESEND_CONFIRMATION_TEMPLATE_ID=
RESEND_INVITATION_TEMPLATE_ID=
RESEND_VERIFICATION_TEMPLATE_ID=
RESEND_PASSWORD_RESET_TEMPLATE_ID=
RESEND_PASSWORD_CHANGED_TEMPLATE_ID=

# ------------------------
# ZeroBounce
# ------------------------

ZEROBOUNCE_API_KEY=

# ------------------------
# Upstash QStash
# ------------------------

QSTASH_URL="https://qstash-us-east-1.upstash.io"
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

# ------------------------
# Upstash Redis
# ------------------------

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
